// ------------- header -----------------
.header {
  .input__container {
    .input {
      outline: none;
      border-radius: 6px;
      border: 1px solid;
      padding: 0 4px 0 4px;
      width: 200px;
      min-width: 100px;
      max-width: 500px;
      &:focus {
        box-shadow: 2px 2px 3px rgb(236, 236, 236);
        border-radius: 5px;
        transition: all ease-in 150ms;
      }
      &.input__size {
        width: 55px;
        min-width: 55px;
      }
    }
  }
  .decoration__styles {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 6px;
    user-select: none;
    cursor: pointer;
    &--tab {
      min-width: 80px;
      text-align: center;
      border-right: 1px solid rgb(179, 179, 179);
      &:last-child {
        border-right: none;
      }
      &.active {
        background-color: rgb(89, 205, 240);
      }
    }
  }
}

.main__container {
  $_cont_width: 1717;
  $_cont_height: calc(1717 / 8.5832);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  .main__frame {
    position: relative;
    border: 3px dashed gray;
    width: $_cont_width + px;
    height: $_cont_height + px; // x 8.5832
    .displayedText {
      border: 3px dashed gray;
      display: inline-block;
      cursor: pointer;
      user-select: none;
      &.selected {
        border: 3px dashed rgb(248, 74, 74);
      }
    }
  }
}
